# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.envrc/

# macOS system files
.DS_Store

# VS Code project settings
.vscode/

# Log files
*.log

# Secrets (optional if stored locally)
*.env

# Compiled files
*.so
*.egg-info/

# Testing / coverage
htmlcov/
.coverage
.cache/
